<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>hostelt</title>
</head>
<body>
<div class="container">

    <header> <div class="heading">
        HOSTEL MANAGER
    </div></header>
    <div class="disp" > <p> Feel free to working with hostel’s data , manage all data securly in free of charge ...</p></div>

    


    <div class="infobutton" id="infobutton">Sign In</div>

    <div class="logout hide" id="logout">Log Out</div>

    <div class="vector">
        <img src="/images/bunkbed.png" alt="#" width="350px" height="350px">
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>


    <script src="/index.js"></script>
</div>
</body>
</html>