@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #e6edf3;
  color: white;
}

.cont{

  position: absolute;
  
  left:100px

}



.hostel {
position: absolute;

  top: 150px;
  width: 160px;
  height: 75px;
  background:#3D85C6;
  border-radius: 20px;
  text-align: center;
  padding-top: 25px;
  color: white;
  font-size:larger;
  font-weight:800;
}

.hide{
    display: none;
}

nav
{
  background: #0a3d62;
  height: 80px;
  width: 100%;
}

label.logo
{
  color: #fff;
  font-size: 35px;
  font-weight: 800;
  line-height: 80px;
  padding: 0 100px;
}


nav > ul
{
  float: right;
  margin-right: 20px;
}

nav > ul > li
{
  line-height: 80px;
  display: inline-block;
  margin: 0 0px;
}

.checkbtn
{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: poiter;
  display: none;
}

#check
{
  display: none;
}


.logout{

  background:none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.create{

  background:none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.join{
  background:none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.home{
  background:none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.home:active{
  background-color: #3D85C6;
}
.home:hover{
  background-color: #3D85C6;
}
.logout:hover{
  background-color: #3D85C6;

}
.create:hover{
  background-color: #3D85C6;
}
.join:hover{
  background-color: #3D85C6;
}

.profile{

  background:none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.profile:hover{
  background-color: #3D85C6;
}


/*--------------------new----------------------------------------*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e6edf3;
  border: none;
  border-bottom: 2px solid  rgb(58, 58, 58);
  font-size: large;
}
input[type=email], select{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e6edf3;
  border: none;
  border-bottom: 2px solid rgb(58, 58, 58);
  font-size: large;
}
input[type=number], select{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e6edf3;
  border: none;
  border-bottom: 2px solid rgb(58, 58, 58);
  font-size: large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea{
  border: 2px solid rgb(58, 58, 58);
  border-top: 0.5px solid rgba(58, 58, 58, 0.411);
  padding: 5px;
  font-size: larger;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size:large;

  color: black;
}

/* Style the submit button */
input[type=submit] {
  position: absolute;
  align-self: center;
  margin-top: 4%;
  background-color: #3D85C6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: large;

}

/* Style the container */
.container {
  border-radius: 5px;
  background-color:#e6edf3;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 8px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 50%;
  margin-top: 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
